@import "tailwindcss";
@plugin "@tailwindcss/typography";
.prose pre code {
  color: inherit !important;
  background: transparent !important;
}

.prose code {
  color: #e2e8f0 !important;
  background: rgba(255,255,255,0.1) !important;
  padding: 2px 6px;
  border-radius: 4px;
}